/* 
COLOR PALETTE
  black: rgb(0, 23, 50); #001732;
  orange: rgb(241, 117, 78); #f1754e;
  bg-color: rgb(216, 238, 232);  #d8eee8;
  bg-dark-color: rgb(203, 224, 221); #cbe0dd;
  clicked-cell: rgb(157, 197, 199); #9dc5c7;
  transparent red: rgba(241, 117, 78, 0.7);

  font-family: 'Darker Grotesque', sans-serif;
  font-family: 'Press Start 2P', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	padding: 16px;
	line-height: 1;
	color: rgb(0, 23, 50);
	background-color: rgb(216, 238, 232);
	font-family: 'Darker Grotesque', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.btn {
	border: 2px solid rgb(0, 23, 50);
	font-size: 24px;
	font-family: 'Darker Grotesque', sans-serif;
  text-transform: uppercase;
	padding: 4px 20px 8px 20px;
	cursor: pointer;
	background-color: rgb(203, 224, 221);
	color: rgb(0, 23, 50);
}

.btn:hover {
  background-color: rgb(182, 203, 200);
}

.btn-full {
  width: 100%;
}

.game-container {
  width: calc((48px * 6) + 4px);
}

/* Game panel */
h1 {
  font-size: 40px;
}

.game-score {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}

/* Game board */
.game-board {
  position: relative;
  margin-bottom: 8px;
  border: 2px solid rgb(0, 23, 50);
}

.grid {
  width: calc((48px * 6) + 4px);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.cell-dark {
  background-color: rgb(203, 224, 221);
}

.bar {
  background-color: #f1754e;
  border-radius: 8px;
  border: 2px solid rgb(0, 23, 50);
}

/* End-game screen */
.end-game-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.win {
  background-color: rgba(78, 241, 187, 0.7);
}

.lose {
	background-color: rgba(241, 117, 78, 0.6);
}

.end-game-text {
  font-size: 48px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}

/* # Utilities */
.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

/* Media query for extra small devices (phones) */
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 20px;
	}
	
	.game-score {
		font-size: 16px;
		display: flex;
		justify-content: space-between;
	}

  .game-container {
		width: calc(((48px * 6) + 4px) / 2);
  }

	.game-board {
		position: relative;
    margin-bottom: 4px;
		border: 1px solid rgb(0, 23, 50);
	}	

  .grid {
		width: calc(((48px * 6) + 4px) / 2);
    display: flex;
    flex-wrap: wrap;
  }

  .cell {
		width: 24px;
		height: 24px;
		cursor: pointer;
  }

  .end-game-text {
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
  }

  .btn {
    border: 1px solid rgb(0, 23, 50);
    font-size: 12px;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
    padding: 2px 10px 4px 10px;
    cursor: pointer;
    background-color: rgb(203, 224, 221);
    color: rgb(0, 23, 50);
  }
}