/*
COLOR PALETTE
  black: rgb(0, 23, 50); #001732;
  lost screen: rgb(241, 117, 78); #f1754e;
  won screen: rgb(78, 241, 187); #4ef1bb;
  bg-color: rgb(216, 238, 232);  #d8eee8;
  bg-dark-color: rgb(203, 224, 221); #cbe0dd;
  bg-darker-color: rgb(182, 203, 200); #b6cbc8;
  clicked-cell: rgb(157, 197, 199); #9dc5c7;
*/

/* Media query for extra small devices (phones) */
@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }
}

/* Media query for small devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    height: 100vh;
  }
}

/* Media query for medium devices (desktops and laptops) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  body {
    height: 100vh;
  }
}

/* Media query for large devices (large desktops) */
@media only screen and (min-width: 1441px) {
  body {
    height: 100vh;
  }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 16px;
	line-height: 1;
	color: rgb(0, 23, 50);
	background-color: rgb(216, 238, 232);
	font-family: 'Darker Grotesque', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.game-container {
	width: 484px;
}

/* Game panel */
h1 {
	font-size: 40px;
}

.game-score {
	font-size: 32px;
	display: flex;
	justify-content: space-between;
}

/* Game board */
.game-board {
	position: relative;
	border: 2px solid rgb(0, 23, 50);
}

.grid {
	height: 480px;
	width: 480px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.cell {
	width: 48px;
	height: 48px;
	cursor: pointer;
}

.cell-dark {
	background-color: rgb(203, 224, 221);
}

.cell:hover,
.cell-clicked {
	background-color: rgb(157, 197, 199);
}

.cell-bomb {
	background-color: rgb(241, 117, 78);
	background-image: url('images/bomb.png');
	background-size: contain;
}

.cell-clicked,
.cell-bomb {
	cursor: not-allowed;
}

/* End-game screen */
.end-game-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.win {
	background-color: rgba(78, 241, 187, 0.6);
}

.lose {
	background-color: rgba(241, 117, 78, 0.6);
}

.end-game-text {
	font-size: 48px;
	line-height: 1.2;
	font-family: 'Press Start 2P', cursive;
	margin-bottom: 16px;
}

button {
	border: 2px solid rgb(0, 23, 50);
	font-size: 24px;
	font-family: 'Darker Grotesque', sans-serif;
	text-transform: uppercase;
	padding: 4px 20px 8px 20px;
	cursor: pointer;
	background-color: rgb(203, 224, 221);
	color: rgb(0, 23, 50);
}

button:hover {
	background-color: rgb(182, 203, 200);
}

.hidden {
	display: none;
}
